.card-certification {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: white;
  width: 50vw;
}

.card-white-bg {
  background-color: white;
}
.card-certification-link {
  background-color: white;
  text-decoration: none;
  color: black;
}
.card-certification-link:hover {
  color: var(--secondary-color);
  transition: 300ms ease-in-out;
}
