.card-project {
  width: 16rem;
  height: 16rem;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem;
}

.card-project-bg {
  background-color: white;
}

.card-project-margin-bottom {
  margin-bottom: 1.7rem;
}

.project-button-container {
  border: none;
}

.card-project-button a {
  font-size: 1.875rem;
  text-decoration: none;
  color: black;
  background-color: white;
  margin: 0.5rem;
  border: none;
}

.card-project-button a:hover {
  color: var(--secondary-color);
  transition: 300ms ease-in-out;
}
